* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

nav {
  display: grid;
  height: 100vh;
  position: fixed;
  width: 250px;
  overflow-y: auto;
}
nav a {
  text-decoration: none;
  color: black;
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  font-family: "Roboto", sans-serif;
}
.logo h1 {
  margin: 10px 0;
  letter-spacing: 4px;
  font-size: 24px;
  padding: 16px;
}

nav a:hover {
  background-color: gray;
  color: black;
}

.nav__inner {
  padding: 64px 0;
  font-size: 18px;
  color: #757575;
}

.nav__menu {
  padding: 0;
  margin: 0;
}
.nav__menu li {
  list-style-type: none;
}
.nav__menu a {
  color: #757575;
  font-weight: bold;
}
.nav__menu-item-toggle {
  height: 45px;
  overflow-y: hidden;
}

.nav__menu-item-toggle a {
  color: black !important;
}

.nav__menu-item-toggle:hover {
  height: 100%;
}
.nav__footer {
  display: flex;
  flex-direction: column;
}

main {
  margin-left: 250px;
  padding: 0 16px;
}

.header-upper {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  font-size: 24px;
}

header h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
}

header img {
  width: 22px;
  height: 24px;
}
.shop-icon {
  cursor: pointer;
  margin-right: 16px;
}

.search-icon {
  position: relative;
  cursor: pointer;
}

/* Products */

.clr {
    clear: both;
}

.products img {
    width: 100%;
}

.products {
    float: left;
    width: 20%;
    margin: 15px;
}


.product2 {
    position: relative;
}


.new {
    background-color: black;
    position: absolute;
    left: 0;
    color: white;
    padding: 0 6px;
}

.btn-index {
    display: none;
}

.btn-buynow {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 15px;
    position: absolute;
    bottom: 180px;
    right: 35px;
    vertical-align: middle;
    font-size: 15px;
}

.btn-index:hover {
    background-color: rgb(182, 181, 181);
    color: black;
    cursor: pointer;
    display: block;
}

.btn-buynow:hover {
    background-color: rgb(182, 181, 181);
    color: black;
    cursor: pointer;
    display: block;
}

.back:hover+.btn-index {
    display: block;
}


.product7 {
    position: relative;
}


.sale {
    background-color: black;
    position: absolute;
    left: 0;
    color: white;
    padding: 0 6px;
}

@media screen and (max-width: 993px) {
 
  nav {
    display: none;
    background-color: white;
    z-index: 2;
  }
  .active {
    display: grid;
  }
  main {
    margin-left: 0;
  }
  .header-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }
  .hamburger {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 16px;
    right: 0;
    cursor: pointer;
    

  }

  .hamburger:hover {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: rgb(167, 164, 164);
    height: 100%;
    padding: 16px;
    right: 0;
  }
  .hamburger img {
    width: 40px;
  }
 
  /* Products */

    .flex-container {
        display: flex;
    }

    .products {
        flex: 1;
    }

}
