* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}
.active {
  display: block;
}

.container {
  max-width: 1200px;
  margin: auto;
  height: 100vh;
}

nav {
  height: 100vh;
  position: fixed;
  overflow: auto;
  width: 250px;
  font-size: 18px;
}
nav a {
  text-decoration: none;
  color: black;
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  white-space: normal;
  font-family: "Roboto", sans-serif;
  font-size: 18px !important;
}
.logo h1 {
  margin: 10px 0;
  letter-spacing: 4px;
  font-size: 24px;
  padding: 16px;
}

nav a:hover {
  background-color: gray;
  color: black;
}

.nav__inner {
  padding: 64px 0;
  font-size: 18px;
  color: #757575;
}

.nav__menu {
  padding: 0;
  margin: 0;
}
.nav__menu li {
  list-style-type: none;
}
.nav__menu a {
  color: #757575;
  font-weight: bold;
}

.nav__footer {
  display: flex;
  flex-direction: column;
}
.nav__menu-item-toggle {
  height: 45px;
  overflow: hidden;
}

.nav__menu-item-toggle a {
  color: black !important;
}

.nav__menu-item-toggle:hover {
  height: 100%;
}
.nav__footer {
  display: flex;
  flex-direction: column;
}

main {
  margin-left: 250px;
  padding: 0 16px;
}

.header-upper {
  display: none;
  z-index: 1;
  margin-top: 100px;
  position: fixed;
  top: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  font-size: 24px;
}

header h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
}

header img {
  width: 22px;
  height: 24px;
}
.shop-icon {
  cursor: pointer;
  margin-right: 16px;
}

.search-icon {
  cursor: pointer;
}
/* section products */
.products__showcase {
  position: relative;
}

.bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.showcase-title {
  position: absolute;
  top: 20px;
  left: 30px;
  color: white;
}
.items {
  grid-template-columns: repeat(4, 1fr);
}
.title-name {
  font-size: 70px;
  margin: 0px;
}
.title-collection {
  font-size: 40px;
  margin: 0px;
  padding-bottom: 1em;
}
.shop-now-btn {
  display: inline-block;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 12px 24px;
  font-size: 18px;
}
.shop-now-btn:hover {
  color: black;
  background-color: gainsboro;
}
img {
  width: 100%;
}
#products__items {
  color: gainsboro;
}
#products__items ul {
  list-style: none;
  color: black;
}
.items {
  padding-left: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: auto;
  grid-gap: 2em;
}
#products__items .items p {
  margin-bottom: 0px;
}
#products__items h4 {
  margin-bottom: 0px;
  margin-top: 0px;
}
.cards-detail {
  position: relative;
}
.cards-detail:hover .buy-now-icon {
  display: block;
}
.items-cards {
  filter: grayscale(70%);
}
.new-item {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px black;
  background-color: black;
  color: white;
  padding: 0 5px;
}
.buy-now-icon {
  display: none;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  background-color: black;
  width: 115px;
  height: 40px;
  color: white;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
}
.buy-now-icon img {
  height: 15px;
  width: 15px;
  filter: invert(100%);
}
.buy-now-icon:hover {
  background-color: black;

  filter: invert(100%);
}
/* Subscribe section */

.subscribe {
  background-color: #000;
  color: white;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 250px;
  padding: 32px 16px;
  font-family: "Montserrat";
  font-size: 15px;
  margin-bottom: 16px;
}
.subscribe h2 {
  font-size: 36px;
  margin: 10px 0;
}
.subscribe p {
  font-size: 15px;
  margin: 15px 0;
}
.sub-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid black;
  background-color: #f44336;
  font-size: 15px;
  padding: 8px 16px;
  margin: 0 0 16px;
  font: inherit;
}

.sub-btn:hover {
  background-color: gray;
  color: #000;
}
.sub-mail {
  padding: 8px;
  font-size: 1em;
  font: inherit;
}

@media screen and (max-width: 993px) {
  nav {
    display: none;
    z-index: 2;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    z-index: 100;
    top: 0;
  }
  main {
    margin-left: 0;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    font-size: 24px;
    margin-top: 90px;
  }
  .header-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
  .hamburger {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
  }

  .hamburger:hover {
    display: flex;
    align-items: center;
    background-color: rgb(167, 164, 164);
    margin: 0;
  }
  .hamburger img {
    width: 40px;
  }
  .active {
    display: block;
    position: fixed;
    background-color: white;
  }

  /* Products */
}
@media screen and (max-width: 600px) {
  .title-collection {
    display: none;
  }
  .title-name {
    font-size: 36px;
    margin: 10px;
  }

  .shop-now-btn {
    display: inline-block;
    margin: 15px;
    box-sizing: border-box;
  }
}
